<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="cn">
  <meta charset="UTF-8"/>
  <title>登录 | Eleven_码农之路e</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="i/favicon.png"/>
  <link rel="stylesheet" href="css/amazeui.min.css"/>
  <link rel="stylesheet" href="css/jquery.validator.css" />
  <style>
  	body {background-image: url("/image/backgrounp/login.jpg");
  	background-repeat: repeat;
  	background-position: 50% 50%
  	}
  
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
 <script type="text/javascript" src="js/jquery.min.js"></script>
 <script type="text/javascript" src="js/jquery.validator.js" ></script>
 <script type="text/javascript" src="js/local/zh-CN.js" ></script>
<header class="am-topbar am-topbar-fixed-top">
  <div style="margin-left: 65px;" class="am-container">
    <h1 class="am-topbar-brand">
      <a href="index.html">Eleven的博客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a href="/index.html"><span class="am-icon-desktop"></span>&nbsp;首页</a></li>
        <li><a href="#"><span class="am-icon-file-text "></span>&nbsp;博文</a></li>
        <li><a href="#"><span class="am-icon-bookmark"></span>&nbsp;收藏</a></li>
      </ul>
     	<div class="am-topbar-form am-topbar-left am-form-inline am-topbar-right">
     <a href="login.html" class="am-btn am-btn-sm login" th:if="${session.role}!=5"><i class="am-icon-arrow-circle-right"></i>&nbsp;登录</a>
     <a href="register.html" class="am-btn am-btn-sm cancel" th:if="${session.role}!=5"><i class="am-icon-user-plus"></i>&nbsp;注册 </a>
    	</div>
    </div>
  </div>
</header>
<div class="am-g">

  <div class="am-u-sm-6">123</div>
  <div class="am-u-sm-6" style="margin: 85px; width: 400px; padding: 60px;">
    <h3>&nbsp;&nbsp;&nbsp;登录</h3>
    <hr>
     <span th:text="${msg}">v</span>
    <br/>

    <form th:action="@{/login}" method="post" class="am-form ">
      <label for="email"><i class="am-icon-envelope-o"></i>&nbsp;邮箱:</label>
      <input type="email" name="email" id="email" value="" data-rule="用户名:required;email;" placeholder="输入邮箱" style="background-color:transparent"/>
      <br/>
      <label for="password"><i class="am-icon-bookmark-o"></i>&nbsp;密码:</label>
      <input type="password" name="password" id="password" data-rule="密码:required;password;" value="" style= "background-color:transparent" placeholder="输入密码"/>
      <span style="color:red; " th:text="${error}">v</span>
      <br/>
      <label for="remember-me">
        <input id="remember-me" type="checkbox"/>
        记住密码
      </label>
      <br />
      <div class="am-cf">
        <input type="submit" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl"/>
        <input type="submit" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr"/>
      </div>
    </form>
	</hr>
  </div>
  </div>
  <footer data-am-widget="footer"
          class="am-footer am-footer-default"
           data-am-footer="{  }" >
    <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile"
          data-am-modal="{target: '#am-switch-mode'}">
          Eleven
    </span>
      <span class="am-footer-divider"> | </span>
      <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
          个人博客
      </a>
    </div>
    <div class="am-footer-miscs ">
        <p>CopyRight©2016  Eleven Inc.</p>
        <p>京ICP备13033158</p>
    </div>
 </footer>

</body>
</html>
